POSTGRES_DB=Ai_task_manager_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
PGHOST=localhost
PGPORT=5432
PGDATABASE=Ai_task_manager_db
PGUSER=postgres
PGPASSWORD=password
SECRET_KEY= secret key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
OPENAI_API_KEY= your_openai_api_key_here
